---
layout: default
---
<div class="post-list">
  {% for post in site.posts %}
  <a href="{{ post.url | relative_url }}" class="post-card">
    {% if post.thumbnail %}
    <img class="post-card-thumbnail" src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}">
    {% endif %}
    <div class="post-card-body">
      <div class="post-card-date">{{ post.date | date: "%Y.%m.%d" }}</div>
      <div class="post-card-title">{{ post.title }}</div>
      {% if post.description %}
      <div class="post-card-description">{{ post.description }}</div>
      {% endif %}
      {% if post.tags %}
      <div class="post-card-tags">
        {% for tag in post.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
